<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>
</head>
<body>
    <table border="1" width = "100%" style="align-items: center; margin-top: 100px;" >
        <tr style="align-items: center;">
          <th>Name</th>
          <th>Shirt Number</th>
          <th>Region</th>
          <th>Matches Played</th>
          <th> Total Runs</th>
          <th> Total Wickets</th>
        </tr>
        <tr style="align-items: center;">
          <td>Shahid Afridi</td>
          <td>10</td>
          <td>Punjab</td>
          <td>800</td>
          <td>60700</td>
          <td>467</td>
        </tr>
        <tr style="align-items: center;">
            <td>Shaheen Afridi</td>
            <td>10</td>
            <td>KPK</td>
            <td>350</td>
            <td>400</td>
            <td>256</td>
          </tr>
      </table>
</body>
</html>