<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
</head>
<body>

     <h1>Squads</h1>

     <table border="1" width = "100%" style="align-items: center; margin-top: 100px;" >
        <tr style="align-items: center;">
          <th>NoOfPlayers</th>
          <th>Type</th>
          <th>players</th>
        </tr>
        <% for (let s of squads) { %>
    
            <tr>
                <td><%= s.NoOfPlayers %> </td>
                <td><%=s.type %></td>
                
                <td><% for (let p of s.players){ %>
                  <%= p.name %> ,
               <% } %>
                </td>
                
              </tr>
        
            <% } %>


      </table>
   
</body>
</html>