/************* GENERIC  *****************/
a {color:#696969;}
img {width:100%;}
.twhite {color:#fff!important;}


/************* TOP-HEAD *****************/
.top-head ul li {padding-right:8px;}

.top_background {
    /* background-color: greenyellow; */
    background-color: #06351f;
   }

/****************** Navigation **************/
.navbar-toggler {border-color: #dd0000;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(221, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/************ Services **************/
.most-car-box:hover {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}


/*********** TABS *******/
.nav-tabs { border-bottom: 1px solid #ccc; }
.nav-tabs .nav-link.active {
    border-bottom: 1px solid #dd0000;
    border-radius:0px;
}
/**************** Social ICONS ***************/
/* Social Icons */

.social-icons{margin: 0;padding: 0; font-size : 10px;}
.social {margin:7px 7px 7px 0px;}
#social-fb:hover {color: #3B5998;transition:all .25s;}
 #social-tw:hover {color: #4099FF;transition:all .25s;}
 #social-yt:hover {color: #d34836;transition:all .25s;}
 #social-ig:hover {color: #f048d9;transition:all .25s;}

 

 .nav-link{
   color: #fff;
 }

 
 .nav-link:hover{
  color: #8a7532;
}

 .form-inline{
   margin-left: 20px;
 }

 .navigation{
   border-top: 5px solid #8a7532;
   border-bottom:5px solid #8a7532;
 }

 .search-button{
   background-color: #8a7532;
   border: 1px solid #5f5020;
 }

 .search-button:hover{
  background-color: #5f5020;
  border: 1px solid #8a7532;
 }


 .used-car-section{
  background-color: #e6e6e6;
 }

 .find-section-row{
   background-color: #fff;
 }

 .card-back{
    background-color: #fff;
  }
 
/* Category  */

.category-section{
    text-align: center;
    height: 800px;
    
    margin: 50px auto 0px;

}

.category-row{
  margin-top: 100px;
}


.form-control{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}
.category-form{
  margin-top: 100px;
  text-align: center;

}

.category-button{
    color: #8a7532;
    background-color: #fff;
    border: 1px solid #8a7532;

}

.category-button:hover{
    background-color: #8a7532;
    color: #fff;
    border: 1px solid #8a7532;
}

.category-form-button{
  background-color: #8a7532;
  color: #fff;
  border: 1px solid #5f5020;
  margin-top: 20px;
}
.category-form-button:hover{
  background-color: #5f5020;
  color: #fff;
  border: 1px solid #8a7532;
}


/* .btn-outline-danger:hover{
    background-color: #8a7532;
    border: 1px solid #8a7532;
} */
/* Footer and Copyright Section  */
 .footer{
   background-color: #e6e6e6;
   border-top: 5px solid #8a7532 ;
 }

 .footer-one{
   text-align: left;
 }

 .copyright{
    color: white;
   background-color: #06351f;
  }



 .test-cont{


height: 700px;
/* opacity: 0.1; */

 /* background-image: url('/img/back_photo.jpg') ;

 background-repeat: no-repeat;
background-size: cover; */
background-color: rgba(230,230,230,255);
  padding: 50px;
  align-items: center;
margin: auto;
 }


